<?xml version="1.0" encoding="utf-8"?>
<!--
  Azure App Service IIS Configuration
  This file configures the IIS reverse proxy for Node.js on Windows App Service
-->
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Health check endpoint -->
        <rule name="HealthCheck" stopProcessing="true">
          <match url="^api/health" />
          <action type="Rewrite" url="server.js" />
        </rule>
        <!-- API info endpoint -->
        <rule name="ApiInfo" stopProcessing="true">
          <match url="^api/info" />
          <action type="Rewrite" url="server.js" />
        </rule>
        <!-- Static files from dist -->
        <rule name="StaticContent" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="dist/{R:0}" />
        </rule>
        <!-- SPA fallback -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;"
      watchedFiles="web.config;*.js"
      loggingEnabled="true"
      logDirectory="iisnode"
    />
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
    </staticContent>
    <httpCompression>
      <dynamicTypes>
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="text/css" enabled="true" />
      </dynamicTypes>
    </httpCompression>
  </system.webServer>
</configuration>
